<% if(success.length){ %>

    <div class="alert alert-success col-6 offset-3 alert-dismissible fade show" role="alert">
        <%= success %>
            <button type="button" class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
    </div>

<% } %>

<% if(error.length){ %>
    <div class="alert alert-danger col-6 offset-3 alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
    </div>
<% }%>