<div class="footer">
    <div class="ftIcons" id="socials">
        <!-- <a href="https://www.facebook.com/jodzyrox/" target="_blank"><i class="fa-brands fa-facebook"></i></a> -->
        <a href="https://www.instagram.com/jodzyrox/" target="_blank"><i class="fa-brands fa-instagram fa-bounce"></i></a>
        <a href="https://discord.com/users/_web.dev_" target="_blank"><i class="fa-brands fa-discord fa-bounce"></i></a>
        <!-- <a href="https://www.linkedin.com/in/jodzyrox/" target="_blank"><i class="fa-brands fa-linkedin "></i></a> -->
    </div>
    <div class="ftBrand">
        &copy; Travel Book Private Limited.
    </div>
    <div class="ftTerms">
        <a href="/listings/privacyPolicy">Privacy,</a>
        <a href="/listings/terms&conditions">Terms and Conditions</a>
    </div>
</div>