* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid gray;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: ghostwhite;
    transition-duration: 0.4s;
}

.nav a {
    text-decoration: none;
}

.navBtns i {
    width: 1.5rem !important;
    /* height: 3rem !important; */
}

.nav a img {
    background-color: #222222;
    /* font-size: 30rem; */
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.5rem;

    /* font-size: 3rem; */
}

.navBtns {
    border: 0.12rem solid #000000;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #ffffff;
    /* width: 3rem; 
    height: 8rem; */
    color: #222222 !important;
    transition-duration: 0.3s;
}


.navBtns:hover {
    color: #ffffff !important;
    background-color: #222222;
}

.hiddenBySearch a {
    margin-left: 0.3rem !important;
}

.menu * {
    color: #ffffff;
}

.menu .offcanvas {
    backdrop-filter: blur(10px);
    background: transparent;
}

.navopt a {
    font-size: 1.25rem;
    padding-right: 10rem;
    /* display: inline-block; */
}

.offcanvas-body .navopt {
    padding: 0.75rem;
    margin: 1rem -1rem;
    border-radius: 0.21rem;
    transition-duration: 0.3s;
    border-bottom: 1px solid #ffffff;
}

.offcanvas-body .navopt:hover {
    cursor: pointer;
    scale: 1.051;

}


.filter {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topHeading {
    text-align: center;
    padding-top: 1.2rem;
    background-color: #222222;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: xx-large;
    width: 25rem;
    height: 5rem;
}

.container {
    /* margin: 0 !important; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
}


.listing {
    margin: 0.51rem;
    padding: 0.8rem;
    width: 20rem;
    height: 18rem;
    /* border: 0.07rem solid black; */
    border-radius: 1.4rem;
    transition-duration: 0.3s;
    background-color: rgba(248, 248, 255, 0.13);

}

.listing:hover {
    box-shadow: 0px 0px 8px #222222;
    /* transform: scale(1.01); */
    background-color: white;
}

.listInfo p {
    margin-bottom: -0.3rem;
}

.container a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.listing img {
    width: 100%;
    height: 11rem;
    border-radius: 1.2rem;
}

/* Specific List(list.ejs) Styling */
#listTitle {
    margin: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    margin-left: 0.4rem;
    justify-content: center;
}

.listImg img {
    width: 40rem;
    height: 20rem;
    border-radius: 0.5rem;
}

.listInfo {
    /* border-right: 4px solid rgb(143, 125, 125); */
    padding: 0.5rem 0.5rem;
    /* margin-top: 1rem; */

}

.divBtns {
    display: flex;
    text-decoration: none;
    justify-content: center;
    /* padding-left: 10rem; */

}

.divBtns button {
    color: white;
    background-color: #222222;
    font-weight: 550;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
    height: 2.5rem;
    width: 8rem;
    transition-duration: 0.2s;
    /* border: 0.2rem solid #222222; */
}

.divBtns button:hover {
    color: #222222;
    background-color: white;
}

.fullWidth {
    height: 3rem !important;
    width: 20rem !important;
    /* margin-top: 2rem !important; */
}

/* Edit Page Styling */
.formContainer {
    padding: 1rem !important;
    display: flex;
    justify-content: center;
    font-weight: 700;
    width: 90% !important;
    backdrop-filter: blur(5px);
    margin: 2rem 0;
}


.formContainer input,
.formContainer select {
    background-color: transparent;
    width: 100% !important;
    height: 2.5rem;
    border-bottom: 3px solid #222222;
    border-radius: 0.3rem;
    /* margin: -0.22rem !important; */
}

.formContainer input:focus {
    border-bottom: 3px solid #222222;

}

.formContainer input::placeholder {
    padding-left: 0.11rem;

}

#eyeIcon {
    position: relative;
    /* transform: translateY(2rem); */
    top: -2rem;
    transform: translateX(19rem);
    cursor: pointer;
    opacity: 0.7;
}

#eyeIcon:hover {
    opacity: 1;
}

textarea {
    border: 2.5px solid #222222 !important;
    border-radius: 0.3rem !important;
    margin: -0.19rem !important;
    width: 100% !important;
    margin-left: 0.8rem !;
}

/* .editContainer button{
margin-top: 1rem;
margin-left: 7rem;
width: 8rem;
} */

.centerDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


/* Review Styling */
.review,
.allReviews {
    margin-left: 0.5rem;
}

.reviewsContainer {
    display: flex;
    flex-wrap: wrap;
}

.writeReview {
    width: 30rem !important;
}

/*New Listing */

/* Footer Styling */

.footer {
    border-top: 1px solid grey;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: ghostwhite;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 0.4s;

    /* margin-top: auto; */
    /* ...other existing styles... */
    /* position: static; */
    /* or remove position property */
}



.ftIcons a {
    margin: 0.25rem;
    font-size: 1.72rem;
    color: #222222;
}

.ftIcons a i:hover {
    transform: scale(1.2);
    color: #222222;
}

.ftTerms a {
    text-decoration: none;
    color: #222222;
}

.ftTerms a:hover {
    text-decoration: underline;
    color: #121213;
}

/* Error Styling */
.errorDiv {
    height: 75vh;
    /* background-color: rgb(228, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: red;
}

.preImg img {
    width: 250px;
    height: 130px;
}

.dashboardCards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
}

.dashboardCards div {
    margin: 0.5rem;
    width: 20rem;
}

.dashboardCards div:hover {
    box-shadow: #222222 2px 4px solid;
    color: rgb(0, 0, 0);
}

.comboBtns {
    display: flex;
    flex-wrap: wrap;

}

.searchResult {
    background-color: ghostwhite;
    position: absolute;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem;
}

.searchResult a {
    text-decoration: none;
    display: block;
    position: relative;
    left: -2rem;
    color: #222222;
    width: 17rem;
    border: 1.5px solid black;
    padding: 0.21rem;
    line-height: 2rem;
    margin-top: 0.3rem;
    border-radius: 0.21rem;
    cursor: pointer;
}

.searchResult a:hover {
    color: #000000;
}

/* 
body{
    background-image: url("../resources/bgy.jpg");
    background-size: cover;
}
 */
.hide-large {
    display: none;
}

.displayNone {
    display: none;
}

.searchIcon {
    scale: 0.85;

}



@media only screen and (max-width:375px) {
    .nav {
        width: 100% !important;
    }

    .listImg img {
        width: 19rem !important;
        height: 12rem !important;
        border-radius: 0.5rem;
    }
}

@media only screen and (max-width:615px) {
    .hide-small {
        display: none;
    }

    .hide-large {
        display: initial;

    }

    .formContainer {
        padding: 1rem !important;
        display: flex;
        justify-content: center;
        font-weight: 700;
        width: 22rem !important;
        backdrop-filter: blur(5px);
        margin: 2rem 0;
    }

    .alert {
        margin-top: 1rem;
        font-size: 0.61rem;
    }

    .listImg img {
        width: 24rem;
        height: 15rem;
        border-radius: 0.5rem;
    }

    .writeReview {
        width: 23.5rem !important;
    }
}

@media only screen and (min-width: 650px) {
    .searchBox input {
        width: 20rem;
    }


}

@media only screen and (max-width: 384px) {
    .fullWidth {
        width: 15rem !important;
    }

    .alert {
        margin-top: 1rem;
        font-size: 0.51rem;
    }

    .nav {
        width: auto !important;
    }

    .writeReview {
        width: 18rem !important;
    }

    .container {
        margin-top: 0.5rem;
        padding: 1rem;
        justify-content: center;
        width: 15rem !important;
    }

    .topHeading {
        width: 20rem;
    }

    .formContainer {
        width: 80% !important;
    }

    #eyeIcon {
        position: relative;
        /* transform: translateY(2rem); */
        top: -2rem;
        transform: translateX(14rem);
        cursor: pointer;
        opacity: 0.7;
    }

    .footer {
        border-top: 1px solid grey;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: ghostwhite;
        /* width:90%;
        height: 6rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition-duration: 0.4s;


    }


}

/* .footer {
    margin-top: auto;
    position: static; 
     
}
.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */