* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #161515 !important;
    color: #f1f1f1 !important;
}

.nav {
    background-color: #1e1e1e !important;
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    /* background-color: ghostwhite; */
    transition-duration: 0.4s;
    /* background-color: #2c2c2c; */
}

.nav a {
    text-decoration: none !important;
}


.nav a img {
    background-color: #f1f1f1;
    color: #FB5A57;
    /* font-size: 30rem; */
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.5rem;

    /* font-size: 3rem; */
}

.searchBox input {
    background-color: #444141;
    color: #f1f1f1;
    border-radius: 0.5rem !important;
    border: #FB5A57 2px solid !important;
}

.navBtns {
    /* border: 0.12rem solid #000000; */
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #FB5A57;
    /* width: 3rem; 
    height: 8rem; */
    color: #f1f1f1 !important;
    transition-duration: 0.3s;
    font-weight: 550 !important;
}

.navBtns i {
    color: #f1f1f1;
    font-size: larger;
    width: 2rem !important;
}


.navBtns:hover {
    color: #FB5A57 !important;
    background-color: #f1f1f1;
}

.navBtns:hover i {
    color: #FB5A57 !important;
}

.hiddenBySearch a {
    margin-left: 0.3rem !important;
}

body::-webkit-scrollbar {
    display: none;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.menu .offcanvas {
    backdrop-filter: blur(10px);
    background: transparent;
}

.offcanvas-title a {
    color: #FB5A57 !important;
}

.navopt a {
    color: #f1f1f1 !important;
    font-size: 1.25rem;
    /* padding-right: 1rem; */
    /* display: inline-block; */
}

.navopt i {
    color: #00bfff;
    scale: 1.25;
}

.offcanvas-body .navopt {
    text-decoration: none !important;
    padding: 1rem !important;
    margin: 1rem -1rem;
    border-radius: 0.21rem;
    transition-duration: 0.3s;
    border-bottom: 1px solid #f1f1f1;
}

.offcanvas-body .navopt:hover {
    cursor: pointer;
    scale: 1.051;

}


.filter {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topHeading {
    text-align: center;
    padding-top: 1.2rem;
    color: #FB5A57;
    border-radius: 0.5rem;
    font-size: xx-large;
    font-weight: 600;
    width: 20rem;
    height: 5rem;
}

.explore {
    color: #FB5A57;
    margin: 1rem 0.6rem;
    background: #141414;
}

.containerx {
    background-color: #141414;
    margin: 1rem 0.6rem;
    padding: 1rem 0.4rem;
    border-radius: 1rem;
    border-top: none !important;
    /* box-shadow: 0px 0px 8px #000000; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.containerx a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: default !important;
}

.listing {
    margin: 0.4rem;
    padding: 0.8rem;
    width: 20rem;
    height: 18rem;
    /* border: 0.07rem solid black; */
    border-radius: 1.4rem;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    background-color: #3b393971;

}

.listing:hover {

    box-shadow: 0px 0px 8px rgb(255, 255, 255);
}

/* .listing:hover img {
    transition: all 0.2s ease-in-out;
    transform: scale(1.04);
} */

.listInfo p {
    text-align: center;
    margin-bottom: -0.1rem;
}


.listing img {
    width: 100%;
    height: 11rem;
    border-radius: 1.2rem;
}

/* Specific List(list.ejs) Styling */
#listTitle {
    color: #FB5A57;
    margin: 1rem;
}

.list {

    display: flex;
    flex-direction: column;
    /* border: 0.14rem solid black; */
    margin-left: 0.8rem;
    /* padding: 0.8rem; */
    /* width: 90vh; */
    justify-content: center;
}

.listImg img {
    width: 40rem;
    height: 20rem;
    border-radius: 0.5rem;
}

.listInfo {
    /* border-right: 4px solid rgb(143, 125, 125); */
    padding: 0.5rem 0.5rem;
    /* margin-top: 1rem; */

}

.divBtns {
    display: flex;
    text-decoration: none;
    justify-content: center;
    /* padding-left: 10rem; */

}

.divBtns button {
    color: #f1f1f1;
    background-color: #00bfff;
    border: none;
    font-weight: 550;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
    height: 2.5rem;
    width: 8rem;
    transition-duration: 0.2s;
    /* border: 0.2rem solid #000000; */
}

.divBtns button:hover {
    color: #009acd;
    background-color: white;
}

.divBtnsRed button {
    color: #f1f1f1;
    background-color: #FB5A57;
    border: none;
    font-weight: 550;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0 0;
    height: 2.5rem;
    width: 8rem;
    transition-duration: 0.2s;
}

.divBtnsRed button:hover {
    color: #FB5A57;
    background-color: white;
}

.fullWidth {
    height: 3rem !important;
    width: 20rem !important;
    /* margin-top: 2rem !important; */
}

/* Edit Page Styling */
.formContainer {
    /* background-color: #2c2c2c; */
    border-radius: 1rem;
    width: 15rem !important;
    padding: 1rem !important;
    display: flex;
    justify-content: center;
    font-weight: 700;
    width: 90% !important;
    backdrop-filter: blur(5px);
    margin: 2rem 0;
}


.formContainer input,
.formContainer select {
    color: #f1f1f1 !important;
    background-color: #1e1e1e !important;
    width: 100% !important;
    height: 2.5rem;
    border-bottom: 3px solid #fafafa;
    border-radius: 0.3rem;
    /* margin: -0.22rem !important; */
}

.formContainer input:focus {
    border-bottom: 3px solid #f1f1f1;

}

.formContainer input::placeholder {
    padding: 0.25rem !important;
    color: #f1f1f1 !important;
    opacity: 0.5 !important;

}

#eyeIcon {
    position: relative;
    /* transform: translateY(2rem); */
    top: -2rem;
    transform: translateX(19rem);
    cursor: pointer;
    opacity: 0.7;
}

#eyeIcon:hover {
    opacity: 1;
}

textarea {
    color: #f1f1f1 !important;
    background-color: #1e1e1e !important;
    border-bottom: 3px solid #f1f1f1 !important;
    border-radius: 0.3rem !important;
    margin: -0.19rem !important;

}

textarea::placeholder {
    padding-left: 0.25rem !important;
    color: #f1f1f1 !important;
    opacity: 0.5 !important;

}

/* .editContainer button{
margin-top: 1rem;
margin-left: 7rem;
width: 8rem;
} */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.centerDiv {
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


/* Review Styling */
.review,
.allReviews {
    margin-left: 0.5rem;
}

.reviewDiv {
    background-color: #1e1e1e !important;
    border-radius: 1rem !important;
    color: #f1f1f1 !important;
    box-shadow: 0px 0px 8px #000000;
}

.reviewsContainer {
    display: flex;
    flex-wrap: wrap;
}

.writeReview {

    width: 30rem !important;
}

/*New Listing */

/* Footer Styling */

.footer {
    background-color: #1e1e1e !important;
    color: #f1f1f1 !important;
    border-top: 1px solid grey;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition-duration: 0.4s;
    margin-top: auto;
    /* ...other existing styles... */
    position: static;
    /* or remove position property */
}



.ftIcons a {
    margin: 0.25rem;
    font-size: 1.72rem;
    color: #00bfff;
    opacity: 0.8;
    transition-duration: 0.3s;
}

.ftIcons a i:hover {
    transform: scale(1.2);
    color: #fdfdfd !important;
    opacity: 1;
}

.ftTerms a {
    text-decoration: none;
    color: #fdfdfd;
    opacity: 0.8;
    transition-duration: 0.3s;
}

.ftTerms a:hover {
    text-decoration: underline;
    color: #fdfdfd !important;
    opacity: 1;
}

/* Error Styling */
.errorDiv {
    height: 75vh;
    /* background-color: rgb(228, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: red;
}

.preImg img {
    width: 250px;
    height: 130px;
}

.dashboardCards {
    background-color: #272626;
    margin: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* text-align: center; */
    align-items: first baseline;
    margin-bottom: 6rem;
}

.dashItem {
    background: #2c2c2c;
    border-radius: 1rem;
    border: none;
    margin: 0.5rem;
    padding: 0.5rem 0rem !important;
    width: 15rem;
    height: 10.5rem;
    box-shadow: #000000 0px 0px 8px;
    opacity: 0.8;
    transition-duration: 0.3s;
    text-align: center;
}

.dashItem h4 {
    float: center;
}

.dashItem:hover {
    opacity: 1;
}

.comboBtns {
    display: flex;
    flex-wrap: wrap;

}

.searchResult {
    background-color: #2c2c2c;
    position: absolute;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem;
    z-index: 5;
}

.searchResult a {
    color: #f1f1f1 !important;
    text-decoration: none;
    display: block;
    position: relative;
    left: -2rem;
    /* font-weight: bold; */
    width: 17.5rem;
    border-bottom: 1.5px solid grey;

    opacity: 0.8;
    transition-duration: 0.3s;
    padding: 0.21rem;
    line-height: 2rem;
    margin-top: 0.3rem;
    border-radius: 0.21rem;
    cursor: pointer;
}

.searchResult a:hover {
    opacity: 1 !important;
}

/* 
body{
    background-image: url("../resources/bgy.jpg");
    background-size: cover;
}
 */
.hide-large {
    display: none;
}

.displayNone {
    display: none;
}

.searchIcon {
    padding: 0.5rem 0.5rem;
    margin-bottom: 0rem !important;
    scale: 0.825;
    position: relative;
    top: -0.1rem;

}



@media only screen and (max-width:375px) {
    .nav {
        width: 100% !important;
    }

    .listImg img {
        width: 19rem !important;
        height: 12rem !important;
        border-radius: 0.5rem;
    }

    .containerx {
        margin-left: 0.2rem;
        border-radius: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .navopt a {
        font-size: 1rem !important;
    }

    .searchResult {
        margin-left: 0.3rem !important;
    }
}

@media only screen and (max-width:615px) {
    .hide-small {
        display: none;
    }

    .hide-large {
        display: initial;

    }

    .formContainer {
        padding: 1rem !important;
        display: flex;
        justify-content: center;
        font-weight: 700;
        width: 22rem !important;
        backdrop-filter: blur(5px);
        margin: 2rem 0;
    }

    .alert {
        margin-top: 1rem;
        font-size: 0.61rem;
    }

    .listImg img {
        width: 24rem;
        height: 15rem;
        border-radius: 0.5rem;
    }

    .writeReview {
        width: 23.5rem !important;
    }

    .searchResult {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 650px) {
    .searchBox input {
        width: 20rem;
    }


}

@media only screen and (max-width: 384px) {
    .fullWidth {
        width: 15rem !important;
    }

    .reviewSection {
        margin-left: 1rem;
    }

    .writeReview {

        width: 15rem !important;
    }



    .topHeading {
        width: 18rem;
    }

    .formContainer {
        width: 80% !important;
    }

    #eyeIcon {
        position: relative;
        /* transform: translateY(2rem); */
        top: -2rem;
        transform: translateX(14rem);
        cursor: pointer;
        opacity: 0.7;
    }

    .pre-btn img,
    .nxt-btn img {
        width: 2rem !important;
        height: 2rem !important;
    }

}
@media (min-width: 800px) and (max-width: 1024px) {
.listing{
    margin: 2.5rem;
}}
/* .footer {
    margin-top: auto;
    /* ...other existing styles... *
    position: static;  or remove position property 
}*/
/* .body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */
/* HEADER */

/* REPORT STYLING */
.reportCard {
    background-color: #000000 !important;
    margin: 1rem;
    border-radius: 1rem !important;
    border: 1px solid grey;
    box-shadow: #000000 0px 0px 8px;
}

/* PRODUCT aka Listings */
.product {
    background-color: #1e1e1e;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px #ffffff;
    /* background: linear-gradient(to right, #141414,#FB5A57, #2c2c2c); */
}

.product-category {
    color: #FB5A57;
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-image:hover {
    transform: scale(1.03);
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 550;
    text-transform: uppercase;
}


.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
    border-radius: 10px !important; 
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #4d4a4a 100%);
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    width: 3rem;
    height: 3rem;
    opacity: 2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.inspirationDiv {

    background: #1e1e1e;
    padding: 20px;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px #fffafa;

}

.inspirationDiv h3 {
    color: #FB5A57;
    text-align: center;
    margin-bottom: 20px;
}

.inspirationDiv p {
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 20px;
}

.inspirationDiv input {
    background-color: #2c2c2c;
}

@keyframes onScroll {
    from {
        opacity: 0;
        transform: translateX(-200px);
        /* scale: 0.2; */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        /* scale: 1; */
    }

}

.listing {
    animation: onScroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

