<% layout('/layouts/boilerplate') %>

    <body>

        <main>

            <div style="min-height: 100vh;">
                <div class="mb-5">
                    <% if(subscribers.length==0){ %>
                        <div class="heroText">
                            <h2>No Subscribers yet!</h2>
                        </div>
                        <% } %>
                </div>
                <section class="d-flex flex-wrap">

                    <%for(sub of subscribers){%>
                        <div class="reportCard card subsDiv">
                            <div>
                                <i onclick="copyToClipBoard()" class="fa-regular fa-copy copyBtn"
                                    style="color: #00bfff; font-size: larger;"></i>
                                <input id="clickToCopy" value="<%=sub.email%>" readonly></input>
                            </div>
                            <p><b>Subscribed At :</b>
                                <%=sub.startDate.toString().split(" ").slice(0,4).join(" ")%>
                            </p>
                            <form action=" /unSubscribe/<%=sub._id%>?_method=DELETE" method="post" class="divBtnsRed">
                                    <button>UnSubscribe</button>
                                    </form>
                        </div>
                        <% }%>
                </section>

        </main>
    </body>